/*Body*/
body {
    background: url(./Images/Background_Acceuil.jpg) no-repeat fixed;
    height: 100vh; 
    width: 100vw; 
    margin: 0; 
    padding: 0;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden; 
}

.body-Accueil {
    background-image: url(./Images/Background_Acceuil.jpg);
    background-color: rgba(0, 128, 0, 0.5); /* Green filter with 50% opacity */
    z-index: 1; /* Ensure the filter is above the background image */
}

.body-Formules {
    background-image: url(./Images/Background_Formules.jpg);
}

.body-Lieux {
    background-image: url(./Images/Background_Lieux.webp); 
}

/* Nav */
nav {
    position: fixed;
    top: 1vh;
    width: 100vw;
    display: flex; 
    justify-content: space-around; 
    z-index: 1000; /* Assure qu'elle est au-dessus des pages */
    padding: 1vh;
    border-radius: 1vh;
    box-sizing: border-box; 
}

nav div {
    flex: 15vw; 
    display: flex;
    justify-content: center; 
}

nav button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 1.5vh 3.2vw; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 2.5vh; 
    margin: 0.4vh 0.2vw; 
    cursor: pointer; 
    border-radius: 1.2vh; 
    transition: background-color 0.3s ease; 
}

nav button:hover {
    background-color: #2f6e32; 
}

/* Pages */
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    padding-top: 10vh;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.page.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Header*/
header {
    position: relative;
    top: 2vh;
    margin-left: 3vw;
    max-width: 50vw;
    max-height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1vh 2vw;
    box-sizing: border-box;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 0.2vh solid white;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
}

.body-Accueil header {
    position: relative;
    top: 1vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border-radius: 1vh; 
    border: 0.2vh solid white; 
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2); 
    max-width: 50vw; 
    max-height: 20vh;
    margin-left: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body-Formules header {
    position: relative;
    top: 1vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border-radius: 1vh;  /* coins arondis*/
    margin-left: 0; 
    border: 0.2vh solid white; 
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
    max-width: 50vw; 
    max-height: 20vh;
}

.body-Lieux header {
    position: relative;
    top: 1vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border-radius: 1vh; 
    border: 0.2vh solid white; 
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2); 
    max-width: 50vw; 
    max-height: 20vh;
    margin-left: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Titre (h1) */

h1 {
    font-size: 8vh;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 4vh;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 3vh;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 3vh;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 3vw;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
    border: 0.2vh solid white;
    border-radius: 1vh; 
}

/*Presentation*/
.presentation {
    position: relative;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 1vh 2vw; 
    border-radius: 1vh; 
    border: 0.2vh solid white; 
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
}

/* Container */
.container {
    position: relative;
    padding: 1vh; /* Add padding to the container */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    grid-template-areas: "left right"; /* Define the grid layout */
    display: grid; /* Use CSS Grid for layout */
    gap: 2vw; /* Add a gap between grid items */
    column-gap: 2vw;
    margin-top: 5vh; /* Add space between the header and the container using vh units */
}

.left {
    grid-area: left; /* Assign the left container to the 'left' grid area */
    flex: 1; /* Allow the left container to grow */
    padding: 2vh 7.85vw; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    background-color: rgba(0, 0, 0, 0.5); /* Background color */
    border: 0.2vh solid white; /* Add a white border */
    color: white;
    border-radius: 1vh;
    margin-right: 0.5vw; /* Add margin to the right */
}

.right {
    grid-area: right; /* Assign the right container to the 'right' grid area */
    flex: 1; /* Allow the right container to grow */
    padding: 2vh 7.85vw; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    background-color: rgba(0, 0, 0, 0.5); /* Background color */
    border: 0.2vh solid white; /* Add a white border */
    color: white;
    border-radius: 1vh;
    margin-left: 0.5vw; /* Add margin to the left */
}


/* Map */
.map{
    font-size: 3vh;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 3vw;
    padding: 1vh 1vw;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
    border: 0.2vh solid white;
    border-radius: 1vh; 
}

.map img {
    width: 40vw;
    height: 50vh;
    border-radius: 1vh;
    bottom: 1vh;
}

/* Style for the footer */
footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.8vh;
    background-color: #1e5f20;
    border-top: 0.5vh solid #4CAF50;
    width: 100vw;
    bottom: 1vh;
    color: white;
}

footer p {
    margin: 0 1vw; /* Add margin between text and links */
}

footer a {
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    margin: 0 1vw; /* Add margin between links */
}
